<div class="form-container">
  <div class="login-form">
    <h2>Sign up</h2>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <%= f.text_field :name, id: :name, autofocus: true, placeholder: 'Name', :class => 'text-input' %>

    <%= f.email_field :email, placeholder: 'Email', :class => 'text-input' %>

    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off", placeholder: 'Password', :class => 'text-input' %>

    <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: 'Confirm Password', :class => 'text-input' %>

    <div class="actions">
      <%= f.submit "Sign up", class: "btn btn-default" %>
    </div>
    <% end %>
  </div>
</div>
