<h1>Pages#cuisine</h1>
<%= link_to 'Home', '/pages/home'  %>
<%= link_to 'Cuisine', '/pages/cuisine'  %>
<%= link_to 'Cooks', '/pages/cooks'  %>
<%= link_to 'Orders', '/pages/order'  %>
<%= link_to 'Contact', '/pages/contact'  %>
<p>Find me in app/views/pages/cuisine.html.erb</p>
