<h1 class="title"><%= @dish.name %></h1>
<div class="container">
  <div class="img-display">
    <div class="img-food">
  <%= image_tag(@dish.image.url, alt: 'Dish',class: "img-pic") if @dish.image? %>
    </div>
  </div>
<br><br>
  <div class="img-details">
  <% if current_user == @dish.user %>
  <p><%= link_to 'Edit', edit_dish_path(@dish) %></p>
  <% end %>
  <p>
    <strong>Name:</strong>
    <%= @dish.name %>
  </p>

  <p>
    <strong>Cuisine:</strong>
    <%= @dish.cuisine %>
  </p>
  <p><strong>Price:</strong>
     <%= @dish.price %>
  </p>
  </div>
</div>
